@model Gallery.Galeria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Galeria</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_GALERIA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_GALERIA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NOMBRE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NOMBRE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Usuario.NOMBRE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario.NOMBRE)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
